.button {
   -fx-graphic: url('../images/deleteIcon.png');
   -fx-border-color: transparent;
   -fx-border-width: 0;
   -fx-background-radius: 0;
   -fx-background-color: transparent;
   -fx-padding: 0 0 5 0;
}

.button:pressed{
    -fx-background-color: #00ffff;
}